@charset "UTF-8";

*, *:before, *:after { box-sizing: border-box; }

html,
body {
  min-height: 100vh;
  margin: 0;
}

.vh100 { height: 100vh; }

#map {
  height: 100vh;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.overlay {
  height: 1000px;
  background-color: rgba(255,255,255,.5);
  border-radius: 2px;
  text-align: center;
  z-index: 2;
  position: relative;
  top: 4rem;
}

.top-4 { top: 4rem; }

.h0 {
  font-size: 5rem;
  overflow: hidden;
}

.libre_baskerville { font-family: "Libre Baskerville"; }

.baskerville { font-family: "Baskerville" ;}