@charset "UTF-8";

*, *:before, *:after { box-sizing: border-box; }

html,
body {
  min-height: 100vh;
  margin: 0;
}

.vh100 { height: 100vh; }

#map {
  height: 100vh;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.overlay {
  height: 1000px;
  margin: 0 auto;
  background-color: white;
  border-radius: 2px;
  color: orange;
  text-align: center;
  z-index: 2;
  position: relative;
}
